/* DONE: Add a rule for images, so they never exceed their container's width. */

img {
  max-width: 100%;
  margin: 5px;
}

body {
  width:100%;
  line-height: 1.5;
  font-size: 100%;
  color: #313131;
  margin: 1rem;
}



hr {
  margin: 1em;
  width: 80%;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

address {
  display: inline-block;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
  background-color: lightblue;
  margin: 0.5rem;
  padding:1rem;
}

a:visited {

}


/*footer{
    background:  #a6a6a6;
    width:100%;
    position:relative;
    bottom:0;
    position:absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}*/
