/* FORMATTING
-------------------*/
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.template {
  display: none;
}


/* DROPDOWNS
------------------*/
.filters {
  padding: 0;
  list-style: none;
}

.filters select {
  width: 90%;
  margin: .2em 5%;
}



/* HEADING
------------------*/
.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
  max-width: 80%;

}



/* NAV
------------------*/
.main-nav {
  padding: 0.1em;
}

.main-nav.icon-menu::before {
  float: right;
  margin-right:1.0em;
}

.main-nav ul {
  display: none;
  padding: 1em;
  list-style: none;
  clear: both;
  background-color: black;
  padding: 15px;
  border-radius: 5px;
  width:100%;
  /*padding-right: 500px;*/
}

.main-nav:hover ul {
  display: block;
  /*background-color: red;*/
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.main-nav:hover li {
 color: yellow;
}



/* ARTICLE
------------------*/
.article-body {  
  display: none; /*The content of Read On will be blocked for Mobile*/

}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}




/* DESKTOP
------------------*/
@media screen and (min-width: 640px) {
  .heading-group-h1 {
    padding: .1em .1em .1em 2em;
    float: none;
  }
  

  .filters select {
    width: 15em;
    margin: .2em .2em;
  }

  .filters li {
    width: 20em;
    display: inline;
  }

   /*The content of Read On will be displayed for Desktop*/
  .article-body {
    display: block;
  }
  	
	
  .main-nav.icon-menu::before {
    display: none;
  }
  
  .main-nav.icon-menu ul {
    display: inline-block;
    float: left;
    margin-left: 1em;
  }
  
  .main-nav li {
    display: inline-block;
    padding: 0 1em 0 0;
    /*margin-left: 2%;*/y
    clear: none;
    border-bottom: none;
    text-align: center;
  }
}

