@import url('http://necolas.github.io/normalize.css/3.0.2/normalize.css');


.lens {
  display: inline-block;
  width: 0;
  height: 0;
  border: 1px solid #8d9aa5;
  border-radius: 5px;
  margin: 5px 0 0 -19px;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  margin: 5px;
}


span {
  color: red;
}
